
img{
        width: 150px;
        border-radius: 100px;
        border: 50px;
        float: left;
        margin-right: 50px;
        margin-bottom: 50px;
      }
      .p {
        line-height: 10px;
      }
      .li {
        line-height: 20px;
      }
      .header1 {
        position: relative;
        left: 200px;
      }
header{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {background-color: #FFF8E8;}
p {
  font-family:'Times New Roman', Times, serif
}

      
    
    